<h1>Add a list</h1>
<%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: "add a list name" %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>

<%= link_to "Back to lists", lists_path %>
